body {
  background-color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 10%;
}

image {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    margin: 0;
  }
}
