:root {
  --blue: #246eb9;
  --black: #1e2d2f;
  --orange: #f08700;
  --yellow: #f2e86d;
  --pink: #f50057;
  --mint: springgreen;
  --red: #aa1421;
}

html {
  width: 100vw;
  height: 100vh;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: #f0f3f5;
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
}

/**
*! Tab Tooltip
*/

.tab-tip {
  position: relative;
  display: inline;
}
.tab-tip span {
  position: absolute;
  width: 140px;
  color: #999;
  background: #323643;
  padding: 21px;
  font-size: 1.4rem;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 650ms ease;
}

.tab-tip:hover span {
  visibility: visible;
  opacity: 1;
  left: 100%;
  top: 50%;
  margin-top: -36px;
  z-index: 999;
  transition: opacity 650ms ease;
}

/**
*!  Success Tooltip
*/
.success-tip {
  position: relative;
  display: inline;
}
.success-tip span {
  position: absolute;
  width: 140px;
  color: #ffffff;
  background: #00ce3e;
  height: 34px;
  opacity: 0;
  line-height: 34px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  transition: opacity 650ms ease;
}
.success-tip.active span {
  visibility: visible;
  opacity: 0.9;
  top: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
  transition: opacity 650ms ease;
}
